body { height:100%; margin:0; padding:0; }

span._middle-in-box {
  display: inline-block;
  vertical-align: middle;
  line-height: 100%; /* <-- adjust this */
}

#wrap { }

#header-container, #footer-container {
  background: #eee; 
  border: 1px solid #666; 
  height: 60px;
  left: 0;
  right: 0;
  position: absolute;
  width: auto;
  clear: both;
}

#header-container {
  top: 0;
}

#header {
  text-align:center;
}

#header-container {
  bottom: 0;
}

#footer{
  text-align:center;
}

div.container {
  position: relative;
  margin-top: 60px; /* Header Height */
  width: 100%;
  border: 1px solid #666;
}

div.content {
  display: inline-block;
  width: 350px;
  height: 400px;
  border: 2px solid;
  margin-left: 20px;
  padding: 10px 10px 10px 10px;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: normal;
}

div.content-wrapper {
  white-space: nowrap;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  margin-top: 20px;
  margin-bottom: 20px;
}

.break-word {
  display: inline-block;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: normal;
  line-break: strict;
  hyphens: none;
  -webkit-hyphens: none;
  -moz-hyphens: none;
}
