{% extends "base_index.html" %}

{% block posts %}

{% for bill in bill_list %}

  <div class="post-preview">
      <a href="post.html">
          <h2 class="post-title">
            <a href="{{ url_for('bill_detail', id=bill['id']) }}">{{ bill['name'] }}
            </a>
          </h2>
          <h3 class="post-subtitle">
            {{ bill['sponsor'] }}
          </h3>
      </a>
      <p class="post-meta">상태: {{ bill['status'] }}, 발의일: {{ bill['proposed_date'] }}</p>
  </div>
  <hr>

{% endfor %}
{% endblock %}
