{% extends "base_index.html" %}

{% block contents %}

    <div class="container">
      <div class="row">

        <div class="seven-cols">
				<div id="card" class="weater">
					<div class="city-selected">
						<article>

							<div class="info">
                <div class="city"><span>도시:</span>
                  {{ objects['main_weather']['city'] }}
                </div>

                <div class="first_day">
                  {{ objects['main_weather']['date'][5:] }}
                </div>

                <div class="temp">
                  {{ objects['main_weather']['min_temparature'] }}° /
                  {{ objects['main_weather']['max_temparature'] }}°
                </div>
                <div class="weekday">
                  {{ objects['first_weekday'] }}
                </div>

              </div>
              <div class="forecast-summary">
                <p>
                  {% autoescape false %}
                    {{ objects['publish']['summary'] }}
                  {% endautoescape %}
                </p>
              </div>

							</div>

						</article>
						
				  <figure></figure>
        </div>

          {% for weathers in objects['partial_weather'] %}
	
					<div class="days">
            <div class="row row-no-gutter">
                <div class="area">
                  <span>{{ weathers[0]['city'] }}</span>
                </div>
 
              {% for day in weathers %}
							<div class="col-md-1">
                <div class="day">
                  <!-- list comprehension takes many time. needed to fix,
                  but for now. it will be 'mm-dd'
                  -->
                  <span class="date"><strong>{{ day['date'][5:] }}</strong></span>
                  <h1>{{ objects['weekdays'][loop.index0] }}</h1>
                  <i class="wi wi-rain-wind"></i>
                  <span><strong>
                  {{ day['min_temparature'] }}° /
                  {{ day['max_temparature'] }}°
                  </span></strong>
								</div>
              </div>

              {% endfor %}
						</div>
          </div>
          {% endfor %}

        </div>
      </div>
		</div>
	</div>

{% endblock %}
