{% extends "base_index.html" %}

{% block contents %}

    <div class="container">
      <div class="row">

        <div class="col-sm-12">
				<div id="card" class="weater">
					<div class="city-selected">
						<article>

							<div class="info">
                <div class="city"><span>도시:</span>
                  {{ objects['weather'][0]['city'] }}
                </div>

                <div class="temp">
                  {{ objects['weather'][0]['min_temparature'] }}° /
                  {{ objects['weather'][0]['max_temparature'] }}°
                </div>
              </div>
              <div class="forecast-summary">
                <p>
                  {% autoescape false %}
                    {{ objects['publish']['summary'] }}
                  {% endautoescape %}
                </p>
              </div>

							</div>

						</article>
						
						<figure></figure>
					</div>

					<div class="days">
            <div class="row row-no-gutter">
                <div class="area">
                  <span>서울</span>
                </div>
 
              {% for i in range(6) %}
							<div class="col-md-2">
                <div class="day">
                  <span class="date">09-01</span>
                  <h1>Monday</h1>
                  <i class="wi wi-rain-wind"></i>
                  <span>25° / 29° </span>
								</div>
              </div>

              {% endfor %}
						</div>
          </div>

					<div class="days">
            <div class="row row-no-gutter">

              <div class="col-md-12">
                <div class="area">
                  <span>인천</span>
                </div>
                
              </div>
 
              {% for i in range(6) %}
							<div class="col-md-2">
                <div class="day">
                  <span class="date">09-01</span>
                  <h1>Monday</h1>
                  <i class="wi wi-rain-wind"></i>
                  <span>25° / 29° </span>
								</div>
              </div>

              {% endfor %}
						</div>
          </div>


        </div>
      </div>
		</div>
	</div>

{% endblock %}
