{% extends "base.html" %}

{% block main %}
    <div class="container-main">
      <div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel">
        <ol class="carousel-indicators">
          {% for _ in objects['latest_movies'] %}
            {% if loop.index0 == 0 %}
              <li data-target="#carousel-example-generic" data-slide-to="{{ loop.index0 }}" class="active"></li>
            {% else %}
              <li data-target="#carousel-example-generic" data-slide-to="{{ loop.index0 }}"></li>
            {% endif %}
          {% endfor %}
        </ol>
        <div class="carousel-inner">

        {% for movie in objects['latest_movies'] %}
            {% if loop.index0 == 0 %}
              <div class="item active"> 
            {% else %}
              <div class="item">
        {% endif %}

            <div class="carousel-content">
                <div class="heading">
                    <p>오늘의 영화</p>
                </div>
                <div class="title">
                    <a href=""><p>{{ movie.title }}</p></a>
                </div>
                <div class="info">
                    <p>네티즌 평점: {{ movie.netizen_grade }}</p> 
                    <p>{{ movie.release_date }}, {{ movie.age }}</p>
                    <p>감독: {{ movie.director }}</p>
                </div>
            </div>
 
            <img class="slide-image" src="{{ movie.thumbnail }}" alt="">
            </div>
          {% endfor %}

        </div>
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>

{% endblock %}
{% block netizen_movie %}
    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <div class="col-md-12">

          <div class="row">

            <h2><strong>네티즌</strong>이 선정한 최고의 한국 영화</h2>
               
           {% for movie in objects['high_grade_movies'] %}
           <div class="col-sm-4 col-lg-4 col-md-4">
               <div class="thumbnail">
                 <img src="{{ movie.thumbnail }}" alt="">
                 <div class="caption">
                   <h4 class="pull-right">{{ movie.genres }}</h4>
                   <h4><a href="#">{{ movie.title }}</a>
                   </h4>
                   <p>{{ movie.story }}</p>
                 </div>
                 <div class="ratings">
                   <p class="pull-right">리뷰 남기기</p>
                   <p>
                     네티즌 평점 : {{ movie.netizen_grade }}
                   </p>
                 </div>
               </div>
           </div>
           {% endfor %}

            <div class="col-sm-4 col-lg-4 col-md-4">
               <h1>더 많은 영화가 궁금하세요?
               </h1>
               <p></p>
               <a class="btn btn-primary" target="_blank" href="#">더보기</a>
            </div>
        </div>
        </div>
      </div>
    </div>
    <!-- /.container -->

{% endblock %}

{% block genre_movie %}

    <div class="container">

      <div class="row">

        <div class="col-md-12">

          <div class="row">

            <div class="col-md12">
              <h2><strong>{{ objects['genre'] }}</strong> 영화 좋아하세요?</h2>
             </div>
               
           {% for movie in objects['genre_movies'] %}
           <div class="col-sm-4 col-lg-4 col-md-4">
               <div class="thumbnail">
                 <img src="{{ movie.thumbnail }}" alt="">
                 <div class="caption">
                   <h4 class="pull-right">{{ movie.genres }}</h4>
                   <h4><a href="#">{{ movie.title }}</a>
                   </h4>
                   <p>{{ movie.story }}</p>
                 </div>
                 <div class="ratings">
                   <p class="pull-right">리뷰 남기기</p>
                   <p>
                     네티즌 평점 : {{ movie.netizen_grade }}
                   </p>
                 </div>
               </div>
           </div>
           {% endfor %}

            <div class="col-sm-4 col-lg-4 col-md-4">
               <h1><a href="#">더 많은 영화가 궁금하세요?</a>
               </h1>
               <p></p>
               <a class="btn btn-primary" target="_blank" href="#">더보기</a>
            </div>
        </div>
        </div>
      </div>
    </div>
    <!-- /.container -->

{% endblock %}


