<!doctype html>
<head>
  <meta charset="utf-8" />
  <title>microstack</title>

  <link href="{{ url_for('static', filename='css/base.css') }}"
        rel="stylesheet"
  />

</head>
<body>
  <div id="wrap">
    <div id="header-container">
      <div id="header">
        <span class="_middle-in-box"><h1>header</h1></span>
      </div>
    </div>
  
    <div class="container">
   
      <div class="content-wrapper break-word">
        <div class="content">
          <a href="{{ url_for('index') }}">서비스1: index</a>
 
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent laoreet elit in tellus viverra eleifend. Donec consequat, nulla a ornare mollis, eros urna pretium ex, id ultrices leo nulla at risus. Quisque fermentum arcu a augue blandit condimentum. Cras rhoncus tellus risus, at eleifend magna ullamcorper sagittis. Suspendisse in elementum arcu. Etiam sed eros viverra, scelerisque libero et, tristique est. Integer purus sapien, vehicula vitae ultricies non, sagittis eu neque. Donec in felis a diam porttitor efficitur. Fusce nec aliquam dui. Proin consequat fringilla nulla. Donec posuere luctus odio, sed vulputate erat gravida a. Nulla dictum erat eu sem feugiat, non condimentum orci sagittis. Pellentesque viverra interdum massa sit amet luctus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

Aliquam ut tellus vestibulum, pharetra libero at, blandit purus. Donec ut tincidunt risus, et placerat augue. Donec luctus, mauris a commodo malesuada, mauris enim elementum libero, ac molestie nunc libero vel sapien. Praesent suscipit vestibulum justo eu sodales. In porta sapien at est tincidunt iaculis. Aliquam at tempor ex, ac dapibus mi. Ut et eros in velit tristique maximus. Integer ultrices rhoncus mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In rhoncus libero ut molestie ultrices. Nulla gravida rutrum cursus. Nunc quis odio vitae augue bibendum pellentesque. Nullam blandit leo a porttitor ullamcorper.

Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur pulvinar justo nec libero porttitor tempor. Ut dapibus eu eros quis dapibus. Duis et risus sit amet lorem pharetra convallis eget quis sapien. Quisque consectetur mi odio, at dapibus erat suscipit sed. Donec convallis dui vel dapibus pellentesque. Quisque malesuada nulla sem, in porttitor neque bibendum id. Etiam placerat luctus nunc vel mattis. Praesent sodales quis nisl in mattis. Vivamus rhoncus nisl a imperdiet accumsan. Nam eleifend enim id iaculis tristique. Integer et lorem a velit condimentum euismod sed quis mauris.

Donec vehicula fermentum enim, vitae lobortis lacus hendrerit id. Nunc porta ligula ut lorem convallis maximus. Integer ut ornare nulla. Vivamus efficitur vitae ipsum mollis molestie. Donec congue venenatis justo vel consectetur. Curabitur a tristique felis. Praesent magna dui, convallis a est ac, accumsan rutrum mi. Ut pulvinar sem sit amet est tristique iaculis ac ut ipsum. Proin gravida ut felis sit amet imperdiet. Nunc posuere, libero consectetur aliquam faucibus, purus magna vulputate neque, ut mattis ex purus et tellus. Sed sit amet augue velit. Maecenas dui tellus, pulvinar sed nisl ac, euismod efficitur nisl.

Aliquam elementum non augue id vestibulum. Integer eu dolor quis erat hendrerit sodales. Quisque id tortor facilisis, egestas nulla pulvinar, venenatis sapien. Sed eget lectus ullamcorper, sodales metus non, sodales augue. Vivamus vel felis molestie, accumsan enim eget, mattis nibh. Sed vitae pretium sem, vel lobortis sapien. Nulla vitae accumsan leo. Curabitur quis lorem risus. Donec risus mauris, scelerisque elementum orci vel, imperdiet eleifend tortor. Nulla nec hendrerit lorem. Sed finibus orci lorem, in accumsan elit eleifend at. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque luctus in justo eu pulvinar. Nulla facilisi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

        </div>
        <div class="content">     
          <a href="{{ url_for('movie_mainpage') }}">서비스 2: Movie mainpage</a>
        </div>
        <div class="content">
          <a href="{{ url_for('actor_mainpage') }}">서비스 3: actors mainpage</a>
        </div>
        <div class="content">
          <a href="#">서비스 4:</a>
        </div>
        <div class="content load-other-page">
          <a href="#">서비스 5:</a>
          <div class="load-other-page">
          </div>
         </div>
      </div>
    </div>

    <div id="footer-container">
      <div id="footer">
        <span class="_middle-in-box"><h1>footer</h1></span>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.1.0.min.js"
          integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="
          crossorigin="anonymous">
  </script>

  <script>
    $(".load-other-page").load("/other-page/");
  </script>
</body>
