{% extends "base.html" %}

    <!-- section1: introductin -->
    {% block section_heading %}Introduction
    {% endblock %}
    {% block section_subheading %}Lorem ipsum dolor sit amet consectetur.
    {% endblock %}

    {% block intro_icon1 %}fa-cubes
    {% endblock %}
    {% block intro_heading1 %}Openstack
    {% endblock %}
    {% block intro_text1 %}Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
    {% endblock %}

    {% block intro_icon2 %}fa-cogs
    {% endblock %}
    {% block intro_heading2 %}Microservices
    {% endblock %}
    {% block intro_text2 %}Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
    {% endblock %}

    {% block intro_icon3 %}fa-share-alt
    {% endblock %}
    {% block intro_heading3 %}Rest API
    {% endblock %}
    {% block intro_text3 %}Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
    {% endblock %}

    <!-- section2: services -->
    {% block services %}
    {% for service_info in services_info %}

        <div class="col-md-3 col-sm-4 services-item">
            <a href="#servicesModal{{ service_info.tag }}" class="services-link" data-toggle="modal">
                  <div class="services-hover">
                      <div class="services-hover-content">
                        <i class="fa fa-plus fa-3x"></i>
                      </div>
                  </div>
                  <img class="img-service" src="{{ url_for('static', filename='img/services/') }}{{ service_info['img_file'] }}" class="img-responsive" alt="">
            </a>
            <div class="services-caption">
                <h4>{{ service_info['name'] }}</h4>
                <p class="text-muted">{{ service_info['text'] }}</p>
            </div>
        </div>

    {% endfor %}

    {% endblock %}


    {% block modals %}
        {% include "services/micro_movie.html" %}
    {% endblock %}
